<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        body{
            background: whitesmoke;
        }

        .container{
            display: flex;
            gap: 20px;
            justify-content: center;
            margin-top: 100px;

        }

        .student_info{
            width: 200px;
            height: auto;
            border-radius: 20px;
            background: white;
            padding: 5px 5px 5px 25px;
        }

        p{
            color: black;
        }

    </style>
</head>
<body>

    
    <h1 align="center">Welcome to the my api</h1>

    <div class="container">

        {% for student in students %}
        <div class="student_info">
            
            <p>Id : {{ student.id }}</p>
            
            <p>Name : {{ student.name }}</p>
            
            <p>Address : {{ student.address }}</p>
            
            <p>Gender : {{ student.gender }}</p>
            
            <p>Age : {{ student.age }}</p>

        </div>

        {% endfor %}
    </div>

    
</body>
</html>